dy { 
    display: flex;
    height: 100vh;
    background-color: black;
}

.site-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid #7FA6CD;
}

.nav-item {
    padding: 15px;
    border-bottom: 2px solid #7FA6CD;
    text-decoration: none;
    font-weight: bold;
    color: #B9A6ED;
}

.content {
    display: flex;
    flex: 4;
    justify-content: center;
    align-items: center;
}

.me {
    display: none;
    width: 200px;
    height: 200px;
    border: 2px solid #66765;
}