   
      body {
          background-color: #A1D6E2;
        margin: 0;
        padding: 0;
      }
      
      .page {
        text-align: center;
      }
     .header {
          background-color:#F1F1F2;
        border: 1px black;
        margin: 20 auto;
        width: 720px;
      }
     .content {
       background-color:#BCBABE;
        border: 1px solid blue;
        margin: 20 auto;
        width: 720px;
       
     }